#Unversioned files

#Logs and History
.log
.R.d
.Rhistory
.Rdata

#System Generated Documentation
IO_documentation.csv
CM_IO_documentation.csv
BC_IO_documentation.csv
SO2_IO_documentation.csv
NOx_IO_documentation.csv
NH3_IO_documentation.csv
NMVOC_IO_documentation.csv
CO_IO_documentation.csv
OC_IO_documentation.csv
CO2_IO_documentation.csv
CH4_IO_documentation.csv

#Proprietary Data
input/energy/OECD_and_NonOECD_E_Stat.csv
input/energy/OECD_and_NonOECD_Conversion_Factors.csv
input/energy/OECD_and_NonOECD_Conversion_Factors_Full.csv

#Large data for gridding
input/gridding/grid_data/global_power_plant_database.csv
input/gridding/grid_data/raw_point_source/
input/gridding/grid_data/EDGAR/v5.0/*
input/gridding/grid_data/ECLIPSE/ECLIPSE*

#Proxy files for 0.1 degree downscaling
input/gridding/proxy-backup-01/*


.Rproj.user

#Other
.DS_Store
